body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: blue;
}

header {
  text-align: center;
  padding: 20px;
  background-color: blue;
  color: #fff;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blue;
}

nav a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}

nav a:hover {
  background-color: magenta;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

article {
  flex: 1 1 300px;
  background: blue;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}
.one1,.two2{
  border: 2px solid red;
  font-size: 30px;
  color: white;
  

}
 




